apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
        - name: spring-boot-app
          # Để đơn giản cho bài demo, ta dùng tag 'latest'.
          # Trong thực tế, bạn nên dùng tag phiên bản (v1, v2) hoặc SHA commit.
          image: fyb174146/spring-boot-argocd:latest
          ports:
            - containerPort: 8080
          imagePullPolicy: Always # Luôn kéo image mới nhất